.adminLogin {
  background-color: #1f2d68;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.adminLoginComp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  align-items: center;
}

.adminLoginLogo {
  width: 50%;
  /* text-align: center; */
}

.adminLoginLogo img {
  width: 55%;
  margin-left: 30%;
}

.adminLoginForm {
  width: 50%;
}

.adminLoginInputDiv {
  width: 100%;
  background: rgba(64, 76, 127);
  border-radius: 26.0403px;
  padding: 5%;
  color: #ffffff;
  font-weight: 700;
  /* margin-left: 15%; */
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  box-shadow: 0px 3.47205px 1.73602px rgba(0, 0, 0, 0.5),
    inset 0px -3.91924px 4.70309px rgba(0, 0, 0, 0.25),
    inset -7.05463px 5.48693px 7.2114px rgba(0, 0, 0, 0.25),
    inset -2.0618px -2.74907px 2.74907px rgba(255, 255, 255, 0.15),
    inset 2.74907px 0px 6.87267px 1.37453px rgba(0, 0, 0, 0.25);
}

.adminLoginBorder {
  border-radius: 26.0403px;
  width: 55%;
  background: linear-gradient(
    to right,
    #838383 0%,
    #fdfdfd 14%,
    #5e5e5e 33%,
    #ffffff 49%,
    #818181 69%,
    #ffffff 90%
  );
  margin-left: 15%;
  padding: 3px;
}

.adminLoginInput {
  display: flex;
  flex-flow: column;
  --input-text-color: #1f2d68;
  width: 100%;
}

.loginHead {
  font-size: 1.7rem;
  font-family: "thumbsup", sans-serif;
}

.adminLoginInput input {
  width: 85%;
  margin: 3% auto;
  padding: 2% 6%;
  /* background: #ffffff; */
  border: 0.832567px solid #6c6c6c;
  border-radius: 5.85113px;
  color: #1f2d68;
  font-family: "thumbsup", sans-serif;
  font-size: 100%;
}

.adminLoginInput input::placeholder {
  color: #6c6c6c !important;
  font-family: "thumbsup", sans-serif;
  font-size: 90% !important;
}

.adminLoginButton .btn {
  background: #df0025;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.5),
    inset 0px -4.51519px 5.41823px rgba(0, 0, 0, 0.25),
    inset -8.12735px 6.32127px 8.30795px rgba(0, 0, 0, 0.25),
    inset -2.37532px -3.16709px 3.16709px rgba(255, 255, 255, 0.15),
    inset 3.16709px 0px 7.91772px 1.58354px rgba(0, 0, 0, 0.25);
  border-radius: 7.22431px;
  color: white;
  height: 3rem;
  width: 14rem;
  /* padding: 10px 30px ; */

  font-family: "thumbsup", sans-serif;
}

.adminLoginButton .btn:hover {
  color: #1f2d68;
  background: #fff;
  border-color: #1f2d68;
}
