.sidebar {
  font-size: 25px !important;
  width: 80%;
  margin: auto;
  height: 100%;
  background: #1f2d68;
  box-shadow: 0px 3.47205px 1.73602px rgba(0, 0, 0, 0.5),
    inset 0px -3.91924px 4.70309px rgba(0, 0, 0, 0.25),
    inset -7.05463px 5.48693px 7.2114px rgba(0, 0, 0, 0.25),
    inset -2.0618px -2.74907px 2.74907px rgba(255, 255, 255, 0.15),
    inset 2.74907px 0px 6.87267px 1.37453px rgba(0, 0, 0, 0.25);
  border-radius: 26.0403px;
  border: 1px solid #fff;
  padding: 1%;
  position: relative;
}

@media (max-width: 768px) {
  .sidebar {
    max-width: 300px;
    margin-left: 0;
    height: 90vh;
  }
}

.itemIcon {
  background: #1f2d68;
  border-radius: 99%;
  padding: 1%;
}

.sidebarLogo {
  text-align: center;
  margin: 2% auto;
}

.sidebarLogo img {
  width: 60%;
}

.itemName {
  font-size: 100%;
}

.sidebarMenu {
  width: 85%;
  margin: 5% auto;
}

.sidebarMenu a {
  text-decoration: none;
  color: white;
}

.sidebarFooter {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.sidebarItem {
  display: flex;
  flex-flow: row;
  align-items: center;
  /* margin: 2% 0; */
}

.sidebarItemLink {
  margin: 6% 0 !important;
  padding: 3% !important;
}

.active {
  background: rgba(223, 0, 37, 1);
  border-radius: 10px;
  padding: 3% 0;
  border: 1px solid #fff;
}

.sidebarDetails {
  font-size: 80%;
  color: #fff
}

.exitButton img {
  height: 25px;
}

.itemName {
  padding: 0 2%;
}

.sidebarMenu a {
  margin: 4% 0;
  display: flex;
}

.sidebarMenu .active {}

.css-kakw1q-MuiDataGrid-root .MuiDataGrid-row{
  width:100% !important;
}