@import "tailwindcss";

@font-face {
  font-family: "thumbsup";
  src: url("./assets/Font/ThumsUp-Black.ttf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'thumbsup' !important;
  letter-spacing: 0.03em !important;
  text-shadow: none !important;
}


#root {
  width: 100%;
  height: 100%;
}