.table-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
div.MuiDataGrid-filler{
  border-bottom: 0px !important;
}


.tableTest {
  width: 100%;
  max-width: 1400px;
  background-color: transparent !important;
  font-family: "thumbsup", sans-serif !important;
  border: none !important;
  /* height: 100%; */
}

.tableTest .MuiDataGrid-root {
  border: none !important;
  justify-content: center;
}

.tableTest .MuiDataGrid-row--borderBottom {
  background-color: transparent !important;
  font-family: "thumbsup", sans-serif !important;
  color: white;
  justify-content: center;
}

.tableTest .MuiDataGrid-row {
  /* justify-content: center; */
  color: white;

  background-color: transparent !important;
  font-family: "thumbsup", sans-serif !important;
}

.tableTest .MuiDataGrid-columnHeaderTitleContainer {
  justify-content: center;
}

.tableTest .MuiDataGrid-cell {
  text-align: center !important;
  border-color: rgba(86, 87, 122, 1) !important;
  /* border-top: 0px !important; */
}

.actionBtn {
  justify-content: center;
  color: white !important;
  background-color: rgba(223, 0, 37, 1) !important;
  text-shadow: 0px 1.98086px 1.98086px rgba(0, 0, 0, 0.25),
    0px 0px 8.68011px rgba(255, 255, 255, 0.6) !important;
  font-family: "thumbsup", sans-serif !important;
  padding: 2% 5% !important;
}
.performanceBtn {
  justify-content: center;
  color: white !important;
  background-color: rgb(19, 136, 54) !important;
  text-shadow: 0px 1.98086px 1.98086px rgba(0, 0, 0, 0.25),
    0px 0px 8.68011px rgba(255, 255, 255, 0.6) !important;
  font-family: "thumbsup", sans-serif !important;
  padding: 2% 5% !important;
}
.editBtn {
  justify-content: center;
  background-color: rgb(175, 167, 49) !important;
  color: black !important;
  text-shadow: 0px 1.98086px 1.98086px rgba(0, 0, 0, 0.25),
    0px 0px 8.68011px rgba(255, 255, 255, 0.6) !important;
  font-family: "thumbsup", sans-serif !important;
  padding: 2% 5% !important;
}

.deleteBtn {
  justify-content: center;
  color: white !important;
  /* background-color: rgb(192, 55, 45) !important; */
  text-shadow: 0px 1.98086px 1.98086px rgba(0, 0, 0, 0.25),
    0px 0px 8.68011px rgba(255, 255, 255, 0.6) !important;
  font-family: "thumbsup", sans-serif !important;
  padding: 2% 5% !important;
}

.tableTest .MuiToolbar-gutters {
  color: white;
}

.tableTest .MuiDataGrid-columnSeparator {
  display: none !important;
}

.tableTest .MuiDataGrid-columnHeader {
  border-color: transparent !important;
  background-color: #1f2d68;
  /* border-top: 0px; */
}

@media (max-height: 900px) {
  .tableTest {
    /* height: 630px; */
    width: 100%;
  }
}
